<h1>{{title}}</h1>
<h1>Send data child to parent component</h1>
<app-child (updateDataEvent)="receiveDataFromChild($event)" ></app-child>
<h2>{{data3}}</h2>


<!-- <h1>Reusable Component</h1>
<ul *ngFor="let user of userDetails" >
  <app-user-details [item]="user" ></app-user-details>
</ul>
<ul *ngFor="let user of userDetails">
  <app-user-details2 [item]="user"></app-user-details2>
</ul> -->

<!-- <h1>Pass data to child component</h1>
<app-child [item]="data" [item2]="data2"></app-child>
<app-child [item]="data" [item2]="data2"></app-child>
<button (click)="updateData()">Updata Child Component</button> -->

<!-- <h2>Todo App</h2>
<input type="text" placeholder="Enter your todo" #task class="todo-input">
<button (click)="makeTodo(task)">Add New task</button>
<br><br>
<ul *ngFor="let item of list" class="todo-list">
    <li>{{item.data}}</li><button (click)="deleteTodo(item.id)">Delete</button>
</ul> -->

<!-- <h1>Angular with material ul</h1>
<mat-slider min="1" max="100" step="1" value="50"></mat-slider>
<div class="example-button-row">
  <button mat-stroked-button>Basic</button>
  <button mat-stroked-button color="primary">Primary</button>
  <button mat-stroked-button color="accent">Accent</button>
  <button mat-stroked-button color="warn">Warn</button>
  <button mat-stroked-button disabled>Disabled</button>
  <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
</div> -->

<!-- <h1>Bootstrap with angular</h1>
<p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </ngb-alert>
</p>

<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Simple">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Fancy</b> title &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Disabled" [disabled]="true">
    <ng-template ngbPanelContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
      aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
      craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
      occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
      labore sustainable VHS.
    </ng-template>
  </ngb-panel>
</ngb-accordion> -->

<!-- <button (click)="toggle()">Toggle</button>
<h1 *ngIf="display">toggle element</h1> -->

<!-- <form #basicForm="ngForm" (submit)="getData(basicForm.value)">
   <input type="text" ngModel name="user" placeholder="Enter the name">
   <br><br>
   <input type="text" ngModel name="email" placeholder="Enter the email">
   <br><br>
   <input type="text" ngModel name="password" placeholder="Enter the password">
   <br><br>
   <button>Register</button>
</form>
<ul>
  <li>{{users.user}}</li>
  <li>{{users.email}}</li>
  <li>{{users.password}}</li>
</ul> -->